.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

/* Why is the page not covering the circle if it's z-index is 3 and the circle's is 2? */
